body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/006/599/295/large_2x/sweet-candy-copy-space-frame-with-lollipops-on-pink-background-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.App{
    background-color: rgb(248, 226, 246);
    border-radius: 10px;
    width: 40rem;
    margin-top: 50px;
    margin-left: 350px;
}
h1,h4{
    text-align: center;
}
.card{
    margin-left: 120px;
}
h3{
    color: brown;
}